tramp
abbrev_defs
eproject.lst
ac-comphist.dat
*.elc
*.patch
auto-save-list
*.bndl
*.xz
*.bundle
semanticdb
var
ede-projects.el
srecode-map.el
bookmarks
.uptime
eshell/
/recentf
.litable-lists.el
/bbdb
/history
/newsrc-mitch.special.eld
/#newsrc-mitch.special-dribble#
/newsrc-mitch.special-dribble
/.mc-lists.el
.python-environments
/url/
elpa/
notes
network-security.data
games
ido.last
/transient/
/.lsp-session-v1
