[submodule "lisp/kernel-stack-trace-mode"]
	path = lisp/kernel-stack-trace-mode
	url = https://github.com/mgalgs/kernel-stack-trace-mode.git
[submodule "lisp/diffview-mode"]
	path = lisp/diffview-mode
	url = https://github.com/mgalgs/diffview-mode.git
[submodule "lisp/ack-and-a-half"]
	path = lisp/ack-and-a-half
	url = https://github.com/mgalgs/ack-and-a-half.git
[submodule "lisp/indent-hints-mode"]
	path = lisp/indent-hints-mode
	url = https://github.com/mgalgs/indent-hints-mode.git
